<%= form_for(@datetime) do |f| %>
  <% if @datetime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datetime.errors.count, "error") %> prohibited this datetime from being saved:</h2>

      <ul>
      <% @datetime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.date_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.date_select :enddate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<input type="text" class="col-lg-5" name="daterange"/>

<script type="text/javascript">

var hash = {
            "Today": ["2017-01-30 00:00", "2017-01-30 23:59"],
            "Yesterday": ["2017-01-29 00:00", "2017-01-29 23:59"],
            "Last 7 days": ["2017-01-23 00:00", "2017-01-30 23:59"]
        };
$(function() {
    $('input[name="daterange"]').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
            format: 'YYYY-MM-DD h:mm'
        },
        ranges: hash    
    });
    
    $(window).scroll(function() {
      if ($('input[name="daterange"]').length) {
          $('input[name="daterange"]').daterangepicker("close");
      }
    });
});
</script>

