<!DOCTYPE html>
<html>
<head>
  <title>Datetime1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "signup", new_user_registration_path %>
  
  <% if user_signed_in? %>
  <%= link_to "signout", destroy_user_session_path, method::delete %>
  <% else %>
  <%= link_to "signin", new_user_session_path %>
  <% end %>
  <% if user_signed_in? %>
  <%= link_to "new datetime", new_datetime_path %>
  <% end %>
<%= yield %>

</body>
</html>
